.pizza {
  @apply flex flex-col text-center;
  margin-bottom: 50px;

  & > img {
    @apply mx-auto;
    border-radius: 50%;
    object-fit: contain;
    width: 260px;
    height: 260px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &TypeContent {
    padding: 7px 5px;
    background-color: #f3f3f3;
    border-radius: 10px;
  }

  &List {
    display: flex;
    justify-content: center;
  }
  .pizzaItem {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &:not(:first-child) {
      margin-left: 6px;
    }
  }
  &ItemActive {
    background-color: #fff;
  }

  .pizzaFooter {
    @apply flex justify-between items-center mt-4;
  }
  &Price {
    @apply font-bold text-xl;
  }

  &Add {
    position: relative;
    height: auto;
    padding: 5px 14px 7px;
    background-color: #ffffff;
    border: 1px solid #eb5a1e;
    font-weight: 600;
    border-radius: 30px;
    color: #eb5a1e;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: #eb5a1e;
      color: #ffffff !important;
    }
    &:active {
      top: -0.1em;
      left: -0.1em;
      box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
    }
  }
}
